<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Dojo</title>
</head>
<body>
    <div class="container">
        <h1 th:text="'Welcome to  ' + ${dojoName} +' '+ Location + '!'"></h1>
        <!-- <h1 th:text="${dojoName}" ></h1> -->

            <table>
                <thead>
                    <th>ID </th>
                    <th>First Name </th>
                    <th>Last Name </th>
                    <th>Age </th>
                </thead>
            <tr th:each="ninja: ${dojoNinjList}">
                    <td th:text="${ninja.id}" />
                    <td th:text="${ninja.firstName}" />
                    <td th:text="${ninja.lastName}" />
                    <td th:text="${ninja.age}" />
                     
            </tr>
            </table>



        <a href="/addninja">Add a dojo</a>
        <a th:href="@{/dojohome}">Dojo Home</a>
    </div>

</body>
</html>