<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Ninja</title>
</head>
<body>
        <div class="container">
            <h1>Please add a Ninja</h1>
                
            <form action="#" th:action="@{/ninja/new}" th:object="${ninjaObj}" method="POST">
                <div class="alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
                </div>
            
                <table>
                    <tr>
                        <td>First Name: <input type="text" th:field="*{firstName}" /></td>
                    </tr>
                    <tr>
                        <td>Last Name: <input type="text" th:field="*{lastName}" /></td>
                    </tr>
                    <tr>
                            <td>Age: <input type="number" th:field="*{age}" /></td>
                    </tr>    
                    
                </table>
                
                <p><input type="submit" value="Submit" /></p>
           

                
            </form>
        </div>
        
</body>
</html>