<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Dojo</title>
</head>
<body>
    <div class="container">
        <h1>Welcome Dojo!</h1>
        <!-- <h1><p th:text="'Hello, ' + ${name} + '!'" /></h1> -->
        <p th:text="${numberOfEnrooledStudent}"></p>
            <table>
                <thead>
                    <th>Dojo ID: </th>
                    <th>Dojo Location: </th>
                    <th>Action</th>
                    <th>Registered Ninja</th>
                </thead>
            <tr th:each="dojo: ${dojoList}">
                    <td th:text="${dojo.id}" />
                    <!-- <td th:text="${dojo.name}" /> -->
                    <td> <a th:href="@{/dojo/{id}(id=${dojo.id})}" th:text="${dojo.name}"></td>
                    <td>
                        <form action="#" th:action="@{'/deletedojo/{id}'(id=${dojo.id})}" th:method="delete" >
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" value="delete">Delete </button>
                        </form>
                    </td>      
                    <!-- <td> <a th:href="@{/dojo/{id}(id=${dojo.id})}" th:text="${dojo.name}"></td> -->
                    <!-- <td th:text="${dojosN} +' Number of Enrolled Students:  '+ ${ninjas}" /> -->
                    
                    
                    
            </tr>
            </table>



        <a href="/addninja">Add a dojo</a>
        <a th:href="@{/dojohome}">Dojo Home</a>
    </div>

</body>
</html>