<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Dojo</title>
</head>
<body>
    <div class="container">
        <h1>Welcome Dojo!</h1>
        <!-- <h1><p th:text="'Hello, ' + ${name} + '!'" /></h1> -->

            <table>
                <thead>
                    <th>Dojo ID: </th>
                    <th>Dojo Location: </th>
                    <th>Action</th>
                </thead>
            <tr th:each="dojo: ${dojoList}">
                    <td th:text="${dojo.id}" />
                    <td th:text="${dojo.name}" />
                    <td>
                        <form action="#" th:action="@{'/deletedojo/{id}'(id=${dojo.id})}" th:method="delete" >
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" value="delete">Delete </button>
                        </form>
                    </td>      
            </tr>
            </table>



        <a href="/dojo/new">Add a dojo</a>
    </div>

</body>
</html>